/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
resources/views/vid1.mp4
resources/views/download.jpg
resources/views/download.jpeg
resources/views/video/vid2.mp4
*.mp4
